:root{
    --common-font: 'Rajdhani', sans-serif;;
    --font-sizes_document: .75rem;
    --primary-color: black  ;
    --second-color: #BABAB9;
    
}
/* reset of css document */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.html{
    font-size: 100%;
}

.body{
    font-size: 100%;
}

/* configurarion main container for flex page */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/* header section and menu */
.header{
    background-color: transparent;
    height: 4rem;
    width: 100vw;
}
.header_data{
    background-color: transparent;
    width: 100vw;
    height:  4rem;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px
}

.logo{
    width: 12rem;
    height: 2rem;
    margin: 1rem;
}

.menu{
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    
}

.main{
    background-color: transparent;
    
}
.main_resena{
    background-color: transparent;
    height: auto;
    width: 100vw;
}

.main_resena--h1{
    font-family: var(--common-font);
    font-weight: 700;
    text-align: center;
    font-size: 2em;
}

.main_resena--p{
    font-family: var(--common-font);
    font-weight: 500;
    text-align: center;
    font-size:  1em;
}

/* product section styles */

.products{
    background-color: transparent;

}
.products_list{
    background-color: #BABAB9;
}

.products_list--name{
    font-family: var(--common-font);
    font-weight: 700;
    font-size: 1.4em;
}

.products_desc{
    background-color: transparent;
}

.product_desc--num{
    height: 12rem;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 1px var(--second-color);
}

.products_desc--text{
    font-family: var(--common-font);
    font-weight: 700;
}

.products_desc--img{
    width: 12rem;
    height: 11rem;
}

.footer{
    background-color: transparent;
    height: auto;   
}
.footer_data--text{
    background-color: azure;
    height: auto;
    width: 100vw;
    font-family: var(--common-font);
    font-size: 0.75em;
    background-color: var(--primary-color);
    color: var(--second-color);
    display: flex;
    text-align: center;
    flex-direction: column;
}

.footer_data{
    display: flex;
    justify-content: center;
}

.footer_data--logos{
    
}


@media (min-width: 35rem) {



    .products_list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }



    .products_desc{        
        display: flex;
        justify-content: space-around ;
        background-color: white;
        height: 13rem;
    }
    

    .product_desc--num{
        
        height: 12rem;
        width: 12rem;
        display: flex;
        flex-direction: column;
    }


}

@media (min-width: 50rem) {


    .container{
        width: 60rem;
        margin-left: auto;
        margin-right: auto;
        
    }

    .header_data{
        width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }

    .main_resena{
        width: 60rem;
        margin-left: auto;
        margin-right: auto; 
    }

    .main{
        width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }

    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .products_desc{        
        display: flex;
        flex-direction: column;
        height: auto;

    }
    
    .product_desc--num{
        
        height: 14rem;
        width: 14rem;
    }

    .footer_data--text{
        width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }

}