:root{
    --common-font: 'Rajdhani', sans-serif;;
    --font-sizes_document: .75rem;
    --primary-color: #1A1A18;
    --second-color: #BABAB9;
    
}
/* reset of css document */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.html{
    font-size: 100%;
}

.body{
    font-size: 100%;
}

/* configurarion main container for flex page */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/* header section and menu */
.header{
    background-color: transparent;
    height: 4rem;
    width: 100vw;
}
.header_data{
    background-color: transparent;
    width: 100vw;
    height:  4rem;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px
}

.logo{
    width: 12rem;
    height: 2rem;
    margin: 1rem;
}

.menu{
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    
}

.main{
    background-color: transparent;
    
}
.main_resena{
    background-color: transparent;
    height: auto;
    width: 100vw;
}

.main_resena--h1{
    font-family: var(--common-font);
    font-weight: 700;
    text-align: center;
}

.main_resena--p{
    font-family: var(--common-font);
    font-weight: 400;
    text-align: center;
}

/* product section styles */

.products{
    background-color: transparent;

}
.products_list{
    background-color: #BABAB9;
}

.products_list--name{
    font-family: var(--common-font);
    font-weight: 700;
}

.products_desc{
    background-color: blanchedalmond;
}

.product_desc--num{
    height: 11rem;
    width: 100vw;
    background-color: aqua;
}


.footer{
    background-color: forestgreen;
}
.footer_data{
    background-color: azure;
    height: 16px;
    width: 100vw;
}



@media (min-width: 35rem) {


    .products_list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .products_desc{        
        display: flex;
        justify-content: space-around ;
    }
    
    .product_desc--num{
        
        height: 11rem;
        width: 11rem;
    }


}

@media (min-width: 50rem) {
    .container{
        width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }

    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .products_desc{        
        display: flex;
        flex-direction: column;

    }
    
    .product_desc--num{
        
        height: 14rem;
        width: 14rem;
    }

}